<mat-card>
    <mat-card-title>
        <mat-card-header>
            Purply 
        </mat-card-header>       
    </mat-card-title>
    <mat-card-subtitle>
        Vi på Purply arbetar med att hjälpa företag agera på data och har sedan bolagsstarten 2018 genererat insikter till företag över flertalet branscher.
        Läs mer om oss och vår resa på purply.io.
    </mat-card-subtitle>
    <mat-card-header>
        <mat-card-title>
            Purply Retail        
        </mat-card-title>
    </mat-card-header>
    <mat-card-subtitle>
        Purply Retail erbjuder ett nytt sätt för både butiker och leverantörer att arbeta och agera utifrån data. Vi standardiserar KPI:er och knyter samman detaljhandeln med gemensamma branschindex.

        Agerbara insikter
        Purply Retail erbjuder analyspaket för detaljhandeln som är framtagna av ett team av experter inom både data och retail.
        
        Analyserna kommer ni åt löpande i denna webbportal och i mer uttömmande säsongsanalyser som erbjuds i slutet av varje säsong.
        
        Kombinationen av analysernas innehåll samt dess kadens, leder till en av tjänstens främsta styrkor: agerbara insikter. Här finns möjlighet att kontinuerligt följa ens prestations och snabbt agera på de insikter som ges för att stärka sin position på marknaden.
        
        Exempel på områden där snabba åtgärder kan vidtas är sortiment, inköp, logistik, lager och prissättning.
        
        En gemensam hjärna
        Purply Retail möjliggör en ”gemensam hjärna” för samtliga deltagande butiker. Genom sammanställda och anonymiserade data kan enskilda butiker jämföra sin egen prestation mot andra anslutna butiker i form av marknadsindex.
        
        Enskilda butiker kan ta del av svåråtkomliga generella uppgifter såsom branschens täckningsbidrag eller genomförsäljning för specifika varumärken.
        
        Även leverantörer kan ansluta sig till Purply Retail för att kunna ta del av sitt varumärkes prestation hos de anslutna butikerna. Det ger en samsyn mellan handlare och leverantör vilket exempelvis kan nyttjas vid utbyte av varor, nedskrivningar eller vid inköpstillfällen.
        
        Webapplikationen
        Med webapplikationen, bestående av en översikt med relevanta nyckeltal samt kompletterande djupare analyser vill vi göra det så enkelt som möjligt att ta del av och agera på sin data. Vi arbetar med KPI:erna:
        
        Omsättning
        Täckningsbidrag
        Genomförsäljning
        Lageromsättninghastighet
        De olika nyckeltalen kan brytas ned på:
        
        Olika säsonger
        Avdelning
        Varumärken
        Varugrupper
        Varje analys kompletteras med ett branschindex för att enkelt kunna jämföra sin prestation mot branschen som helhet.
        
        För detaljerade instruktioner till hur applikationen kan användas, besök: Användarmanual.
    </mat-card-subtitle>
</mat-card>
