.mat-mdc-tab-labels {
  color: black !important;
}

.drawer-container {
  position: absolute;
  top: 2%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.button-container {
  margin-top: 75px;
  width: 100%;
  display: flex;
  justify-content: end;
}
