.mat-mdc-tab-labels {
  color: black !important;
}

.drawer-container {
  position: absolute;
  top: 4%;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
}

.button-container {
  margin-top: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
}

h1 {
  color: green;
}