
        <mat-card class="card-container">
            <mat-card-header class="title">
                <mat-card-title>
                 Vecka {{currentWeek}}
                </mat-card-title>
            </mat-card-header>
            <mat-divider></mat-divider>
            <mat-grid-list cols="3" rowHeight="3:1">
                <mat-grid-tile>1</mat-grid-tile>
                <mat-grid-tile>2</mat-grid-tile>
                <mat-grid-tile>3</mat-grid-tile>
              </mat-grid-list>
            <mat-card-content>
                <div class="chart-container">
                    <ngx-charts-bar-horizontal-normalized
                    [view]="view"
                    [scheme]="colorScheme"
                    [results]="income"
                    [gradient]="gradient"
                    [xAxis]="showXAxis"
                    [yAxis]="showYAxis"
                    [showXAxisLabel]="showXAxisLabel"
                    [showYAxisLabel]="showYAxisLabel"
                    [xAxisLabel]="xAxisLabel"
                    [tooltipDisabled]="tooltipDisabled"
                    (select)="onSelect($event)"
                    [roundDomains]="roundDomains"
                    >
                    </ngx-charts-bar-horizontal-normalized>
                        <ngx-charts-bar-vertical
                        [view]="view"
                        [scheme]="colorScheme"
                        [results]="income"
                        [gradient]="gradient"
                        [xAxis]="showXAxis"
                        [yAxis]="showYAxis"
                        [showXAxisLabel]="showXAxisLabel"
                        [showYAxisLabel]="showYAxisLabel"
                        [xAxisLabel]="xAxisLabel"
                        (select)="onSelect($event)">
                        >
                        </ngx-charts-bar-vertical>
                        <app-pie-chart></app-pie-chart>
                    </div>
            </mat-card-content>
        </mat-card>    

